{% extends "base_template.html" %}

{% block title %}Mis Comunidades{% endblock %}

{% block content %}

    <h1 class="h3 mb-3">My Communities</h1>

    <div class="row">
        <div class="col-12 text-end mb-3">
            <a href="{{ url_for('community.create_community') }}" class="btn btn-primary">
                Crear Nueva Comunidad
            </a>
        </div>
    </div>


    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if communities %}
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Curators</th>
                            <th>Accepted Datasets</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for community in communities %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('community.get_community', community_id=community.id) }}">
                                        {{ community.name }}
                                    </a>
                                </td>
                                <td>{{ community.description }}</td>
                                <td>
                                    {{ community.curators.count() }}
                                </td>
                                <td>
                                    {{ community.datasets().count() }}
                                </td>
                                <td>
                                    <a href="{{ url_for('community.get_community', community_id=community.id) }}" title="See">
                                        <i data-feather="eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        
        </div>
    {% else %}
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">No communities were found</h5>
                </div>
            </div>
        </div>
    {% endif %}
        </div>
    </div>

{% endblock %}