# ----------------------------------------------------------------------------
# Publish image in Docker Hub Workflow
# This workflow builds and pushes a Docker image to Docker Hub whenever
# a new release is published on GitHub.
# ----------------------------------------------------------------------------

name: Publish image in Docker Hub

on:
  workflow_run:
    workflows: ["Semantic Release"]
    types:
      - completed
    branches:
      - main

jobs:
  push_to_registry:
    runs-on: ubuntu-24.04

    steps:
      
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(gh release view --json tagName --jq .tagName)
          IMAGE=${{ secrets.DOCKER_USER }}/fitshub

          docker build --build-arg VERSION_TAG=$TAG -t $IMAGE:$TAG -f docker/images/Dockerfile.prod .
          docker push $IMAGE:$TAG

          docker tag $IMAGE:$TAG $IMAGE:latest
          docker push $IMAGE:latest